<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ember To String</h1>
      <h3>Install</h3>
      <pre><span class="glyphicon glyphicon-chevron-right"></span> ember install ember-to-string</pre>
      <h3>About</h3>
      <p>Helper try to show string representation of the methods, actions, observers, listeners, computed properties etc.</p>
    </div>
  </div>
</div>

{{outlet}}
